h2{
    /* text-decoration: underline; */
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

h3{
    /* text-decoration: underline; */
    font-weight: bold;
    font-size: 30px;
    padding: 0;
}

p{
    font-size: 20px;
}

.register{
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size:20px;
    color: white;
    margin: auto;
    border: 2px solid white;
    background:  #d44139;
}

.register:hover{
    background: #16a130;
}