
<!-- <div class="container">
    <mat-icon color="primary" (click)="addNotification()" *ngIf="auth.loggedProfIn()">notification_add</mat-icon>

    <div class="row" *ngFor='let item of notificationItems'>
        <mat-icon class="admin">admin_panel_settings</mat-icon>
        <ul class="demo">
            <li>{{item.message}} <br><mat-icon class="time">timer</mat-icon>  {{item.time}}</li> <br>     
        </ul>

    </div>

</div> -->

<h2 mat-dialog-title>Notifications</h2>
<mat-dialog-content>

    <div class="container">
      <p *ngIf="notificationItems.length == 0">No Item To Show</p>
    <div class="row" *ngFor='let item of notificationItems'>
        <mat-icon class="admin">admin_panel_settings</mat-icon>
        <ul class="demo">
            <li>{{item.message}} <br><mat-icon class="time">timer</mat-icon>  {{item.time}}</li> <br>     
        </ul>

    </div>

</div>


</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close tabindex="-1">Cancel</button>
  </mat-dialog-actions>
