
  
  /* .container {
    background: #3399ff;
    padding: 20px;
  } */

  ul.demo {
    list-style-type: none;
    margin: 0;
  padding: 0;
  }

  
  ul li {
    background: #cce5ff;
    margin: 0;
  }

  .admin{
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }

  