
      <div class="container">
        <mat-card class="text-center nocard" *ngIf="courses.length == 0">Not Added Any courses</mat-card>
        <div class="row" >    
            <div class="col-lg-4 col-sm-7 col-md-6 my-row" *ngFor='let course of courses'>

              <mat-card class="example-card">
                <img src="{{course.image}}" alt="" height="100%" width="100%" (click)="detailsCoursetaken(course)">
                  <mat-card-content>
                    <h2 class="text-center">{{course.name}}</h2>
                  </mat-card-content>
                  <mat-card-actions>
                    <button color="warn" mat-button (click)="deleteCourse(course)">DELETE</button>
                    <!-- <mat-icon >delete</mat-icon> -->
                  </mat-card-actions>
              </mat-card>

                

              </div>
            </div>
          </div>


